*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    color: white;
    background-color: #030220;
    font-family: "HiraginoSans-W0", serif;
}
nav{
    background-color: #030220;
    font-family: "Big Caslon fb";
    font-size: 20px;

}
a:link, a:visited {
    color: white;
    text-decoration: none;
    margin-right: 44px;
}
.navbar-brand{
    font-size: 33px;
}

h1,h2{
    font-family: "Big Caslon fb";
    font-weight: lighter;
    font-size: 40px;
}

.shadow-lg{
    opacity: 0.2;
    margin-left: 42px;
    margin-top: -44px;
    font-size: 55px;
}
.shadowstorieshomepage{
    margin-left: -122px;
    margin-top: 14px;
}

#image1{
    float: left;
}

button{
    background-color: #93676D;
}

#image1{
    float: right;
}

.card-body{
    background-color: #110d26;
}

.letterspacing{
    letter-spacing: 4px;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
}
.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
}
.jumbotron .container {
    z-index: 2;
    position: relative;
}





/*
.mockupphone{
    margin-top: -60px;
}

*/
/*video*/

video{

    width: 100%;
    height: 61%;
    display: block;
    justify-content: center;
    pointer-events: none;
}

/*FOOTER*/
.categories {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.categories li {
    margin: 0 40px;
    font-weight: bold;
    font-size: 22px;
}

.categories a {
    text-decoration: none;
    color: white;
}

.logoFooter {
    font-size: 50px;
    color: white;

}


.listStyle {
    list-style-type: none;
    text-align: left;
}

.text-white1 {
    color: white;
    font-weight: bold;
}

.liSocial {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;

}

.text-white2 {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.white-line {
    border-top: 0.5px solid white;
    margin-bottom: 60px;
}

footer {
    background-color: #040424 ;
    position: absolute;
    bottom: 0;
    width: 100%;

}





/*STORYPAGE*/
.carousel-caption{
    font-weight: bold;
    color: white;
}
.titelstorypage{
    text-align: center;
    font-family: "Big Caslon fb", serif;
}
.shadowstories{
    opacity: 0.2;
    font-size: 55px;
    text-align: center;
    margin-left: 15px;
    margin-top: -44px;

}
.cardTherapist{
    width: 288px;
}
.btn{
    background-color: #93676D;
}





/*SIGN UP PAGE IN PAGE*/
.form-signup{
    color: #110D26;
    background-color:#FFF8EB;
    border-radius: 3px;
}

.btncreate{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:#030220 ;
    color: #FFF8EB;
    border-radius: 4px;
    font-weight: bold;
}
.btncreate:hover{
    background:#FFF8EB ;
    border: 1px solid;
    color: #030220;
}



/*CONTACT PAGE*/

.form{
    border-radius: 3px;
    background:#E1CDC1 ;
    color: #110D26;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    color: white;
    background-color:#110D26 ;

    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background:#E1CDC1 ;
    border: 1px solid;
    color: #030220;
}

.picture{
    margin-top: 110px;
}

.card-body{
    background-color: #110d26;
}



/*SHOP PAGE*/
.foto1{
    width: 449px;
}
.foto2{
    width: 144px;
}
.foto3{
    width: 144px;
}
.foto4{
    width: 144px;
}
.fotolunapro{
    width: 420px;
    float: right;
}

#gekozenproduct{
    background-color: #93676D;
    border-radius: 22px;
    width: 266px;
}

/*Dropdownmenu*/
.form-select{
    color: white;
    background-color:#93676D;
    border-radius: 10px;
    height: 30px;
}
.btn2{
    background-color: #93676D;
    width: 144px;
    height: 44px;
    border-radius: 22px;
    color:white;
}
.zoom{
    transition: transform .4s;
}
.zoom:hover {
    transform: scale(1.9);
}



/*SHOPPING CART
https://bootsnipp.com/snippets/35e4p
*/

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
.card-footer, .card-header{
    background-color: #030220;
}