*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: #110D26;
    font-family: "HiraginoSans-W0", serif;
}
nav{
    background-color: #110D26;
    font-family: "Big Caslon fb";
    font-size: 20px;

}
a:link, a:visited {
    color: white;
    text-decoration: none;
    margin-right: 44px;
}
.navbar-brand{
    font-size: 33px;
}

h1,h2{
    font-family: "Big Caslon fb";
    font-weight: lighter;
    font-size: 40px;
}

.shadow-lg{
    opacity: 0.2;
    margin-left: 42px;
    margin-top: -44px;
    font-size: 55px;
}

#image1{
    float: left;
}

button{
    background-color: #93676D;
}

#image1{
    float: right;
}

.card-body{
    background-color: #110d26;
}

.iconnav{
    background-color: red;
}
.letterspacing{
    letter-spacing: 4px;
}
/*
.mockupphone{
    margin-top: -60px;
}

*/

/*CONTACT PAGE*/

.Form{
    border-radius: 3px;
    background:#E1CDC1 ;
    color: #110D26;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    color: white;
    background-color:#110D26 ;

    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background:#E1CDC1 ;
    border: 1px solid;
    color: #030220;
}
.picture{
    margin-top: 110px;
}

.card-body{
    background-color: #110d26;
}









/*FOOTER*/
.categories {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.categories li {
    margin: 0 40px;
    font-weight: bold;
    font-size: 22px;
}

.categories a {
    text-decoration: none;
    color: white;
}

.logoFooter {
    font-size: 50px;
    color: white;

}


.listStyle {
    list-style-type: none;
    text-align: left;
}

.text-white1 {
    color: white;
    font-weight: bold;
}

.liSocial {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;

}

.text-white2 {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.white-line {
    border-top: 0.5px solid white;
    margin-bottom: 60px;
}

footer {
    background-color: #040424 ;
    position: absolute;
    bottom: 0;
    width: 100%;

}





/*STORYPAGE*/
.carousel-caption{
    font-weight: bold;
    color: white;
}
.titelstorypage{
    text-align: center;
    font-family: "Big Caslon fb", serif;
}
.shadowstories{
    opacity: 0.2;
    font-size: 55px;
    text-align: center;
    margin-left: 15px;
    margin-top: -44px;

}
.cardTherapist{
    width: 288px;
}
.btn{
    background-color: #93676D;
}

/*SIGN UP PAGE*/
.form-signup{
    color: #110D26;
    background-color:#FFF8EB;
    border-radius: 3px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:#030220 ;
    color: #FFF8EB;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background:#FFF8EB ;
    border: 1px solid;
    color: #030220;
}


