*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: #110D26;
    font-family: "HiraginoSans-W0", serif;

}
/*HEADER NAV BAR*/
#shoppingbag{
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
#profile{
    float: right;
    margin-right: 10px;
    margin-top: 21px;
}
header{
    text-align: center;
    background-color: #110D26;
    font-family: "Big Caslon fb";
    font-size: 24px;
    /*position: fixed;*/
}
header h1{
    text-align: center;
    padding-top: 10px;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
li {
    margin: 10px;
    padding: 40px;

}
li{
    display: inline;
}


h1,h2{
    font-family: "Big Caslon fb";
    font-weight: lighter;
}

/*FOOTER*/
/*FOOTER*/
footer{
    bottom: 0;
}
.containercopyright{
    float: left;
    width: 50%;
    color: white;
    margin-left: 8%;
}
#contactus{
    margin-left: 8%;
    margin-bottom: 4%;
}
.containerfollowus{
    float: right;
    color: white;
    margin-right: 8%;
    margin-top: 5%;
}

/*stories*/






