*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: #110D26;
    font-family: "HiraginoSans-W0", serif;
}
.foto1{
    width: 449px;
}
.foto2{
    width: 150px;
}
.foto3{
    width: 150px;
}
.foto4{
    width: 150px;
}
.pro-img-list, .pro-img-details{
    margin: 30px;
}
.titelshoppage{
    text-align: center;
    font-family: "Big Caslon fb", serif;
}
.shadow-lg{
    opacity: 0.2;
    margin-left: 42px;
    margin-top: -44px;
    font-size: 55px;
}
.fotolunapro{
    width: 420px;
    float: right;
}
#gekozenproduct{
    background-color: #93676D;
}

/*Dropdownmenu*/
.form-select{
    color: black;
    background-color:#93676D;
    border-radius: 10px;
}